/* Global Styles */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: #333;
	background-color:#ffc107;
	
	
}

a {
	text-decoration: none;
	color: inherit;
}

/* Header Styles */

header {
	background-color: #1c1c1c;
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: default;
	box-shadow: rgba(0, 0, 0, 0.185) 4px 4px 4px;
}
footer{
	background-color:#1c1c1c;
	padding-bottom: 1px;
	color: white;
	padding-top: 1px;
}

header h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
}

nav li {
	margin-left: 20px;
}

nav a {
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

nav a:hover {
	background-color: #333;
}

/* Container Styles */

.container {
	max-width: 800px;
	margin: 10px;
	

}
.button {
 background-color: red;
 border-radius:15px;
 color: white;
padding: 5px 10px;
box-shadow: rgba(0, 0, 0, 0.295) 3px 3px 5px;

}
.button:hover{
	color: black;
	
	
}
.special {
	position:relative;
	top: 0px;
	left: 10px;
	cursor: default;
	
}
.special2{
	position:absolute;
	top: 0px;
	left:500px;
	cursor: default;
}

.special3{
	position:absolute;
	top: 0px;
	left:500px;
	cursor: default;
	
}
h3:hover{
	font-size:20px;
	transition: 0.5s;
	font-weight: 600;
}
nav li:hover{
	color:rgb(248, 240, 240);
}
.pics{
	box-shadow: rgba(0, 0, 0, 0.384) 5px 5px 10px;
	border-radius: 20px;
	width:450px;
	transition: 1s;
	
}
.pics:hover{
	width:470px;
	transform: scale(1);
}
h2{
	color: black;
	font-weight: 800;
	text-shadow: rgba(0, 0, 0, 0.219) 1px 2px 1px;
}
.special4{
	position:absolute;
	top: 0px;
	left:1000px;
	cursor: default;
}
